<% if @deal.errors.any? %>
  <ul class="errors">
    <% @deal.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @deal do |form| %>
  <div>
    <%= form.label :title%>
    <%= form.text_field :title, size: 120 , value: @deal.title, placeholder: "Example Cardcash: Extra 5% Off Movie Gift Cards: Fandango $25 GC" %>
  </div>

  <div>
    <%= form.label :title_picture%>
    <%= form.text_field :title_picture, size: 120, value: @deal.title_picture %>
  </div>

  <div>
    <%= form.label :purchase_link%>
    <%= form.text_field :purchase_link, size: 120, value: @deal.purchase_link%>
  </div>

  <div>
    <%= form.label :category%>
    <%= form.text_field :category, size: 120, value: @deal.category %>
  </div>

  <div>
    <%= form.label :description%>
    <%= form.text_field :description, size: 120, value: @deal.description %>
  </div>

  <%= form.submit %>
  
<% end %>
