<h2><%= @deal.title %></h2>


<% if @deal.purchase_link.present? %>
  <%= link_to "Purchase", @deal.purchase_link %>
<% end %>
<span class="glyphicon glyphicon-thumbs-up"> </span>
<%= link_to "Like", deal_likes_url(@deal.id), method: :post%>
<span>(<%= @deal.likes.count %>)</span>
<span class="glyphicon glyphicon-bookmark"></span>
<%= link_to "Bookmark", deal_bookmarks_url(@deal.id),method: :post %>
<br>

<p>
  
	 <% if @deal.description!=nil %>
        <%= @deal.description.html_safe %>
     <% end %>
</p>

<%= image_tag @deal.title_picture %>
<br>
<h3>
<span>Comments  </span>
<span class="carat">›</span>
<span ><%= link_to "Add Comments", new_deal_comment_url(@deal) %></span>
</h3>



<% if @deal.comments.present? %>
   <% @deal.comments.each do |comment| %>
   	 <div class="alert alert-info">
   	 	<% if comment.user.present? %>
   	   		<p><%= comment.created_at  %> by <%= comment.user.name%></p>
   	   	<% else %>
   	   		<p><%= comment.created_at  %> by Anonymous</p>
   	   	<% end %>
       <p><%= comment.text %></p>
     </div>
   <% end %>
<% end %>



